
<!DOCTYPE html>
<html>
@using MvcMovie.Resources;
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Internet Connection Testing</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        var beforeload = (new Date()).getTime();
        console.log(beforeload);
        function getLoadTime() {
            var afterload = (new Date()).getTime();
            seconds = (afterload - beforeload) / 1000;
            console.log(afterload);
            console.log(seconds);
            var s = document.getElementById("time");
            console.log(s);
            var loadTime = window.performance.timing.domContentLoadedEventEnd - window.performance.timing.navigationStart;
            console.log(loadTime);




        }
        getLoadTime();



        $(document).ready(function () {
            $("#deftext").val(seconds);
        });
    </script>
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Resources.ApplicationName, "Index", "HelloWorld", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink(@Resources.HomeMenuLabel, "Index", "HelloWorld")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Text" ? "active" : "")">@Html.ActionLink(@Resources.TextMenuLabel, "Text", "HelloWorld")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Display" ? "active" : "")">@Html.ActionLink(@Resources.DisplayMenuLabel, "Display", "HelloWorld")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Enter" ? "active" : "")">@Html.ActionLink(@Resources.EnterMenuLabel, "Enter", "HelloWorld")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Submit" ? "active" : "")">@Html.ActionLink(@Resources.SubmitMenuLabel, "Submit", "HelloWorld")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Validate" ? "active" : "")">@Html.ActionLink(@Resources.ValidateMenuLabel, "Validate", "HelloWorld")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Upload" ? "active" : "")">@Html.ActionLink(@Resources.UploadMenuLabel, "Upload", "HelloWorld")</li>

                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <div class="panel-footer">
                <div class="row">
                    <div class="form-inline">
                        @using (Html.BeginForm("ReceivePageLoadTime", "HelloWorld"))
                        {

                            <div class="col-xs-3">
                                <span id="time">Page download time (seconds): </span>
                            </div>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" id="deftext" contenteditable="false"><br>
                            </div>
                            <div class="col-xs-3">
                                <input type="submit" value="@Resources.TellUs" class="btn btn-default">
                            </div>
                        }
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">

                        Your browser is set to use language:  @System.Threading.Thread.CurrentThread.CurrentCulture.Name.ToLowerInvariant();

                        <p>&copy; @DateTime.Now.Year - Internet Testing Application</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
