@model MvcMovie.Models.Location

@{ ViewBag.Title = "PageName"; }


<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#InputA').change(function ()
        {
            if ($(this).val() == 'A')
            {
                $('#inputs-for-A').show();
                $('#other-inputs').hide();
            }
            else
            {
                $('#other-inputs').show();
                $('#inputs-for-A').hide();
            }
        });
    });
</script>


@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.InputA)

    <div id="inputs-for-A" style="display: none">
        @Html.TextBoxFor(model => model.Input1)
        @Html.TextBoxFor(model => model.Input2)
    </div>

    <div id="other-inputs">
        @Html.TextBoxFor(model => model.Input3)
        @Html.TextBoxFor(model => model.Input4)
    </div>
}@model YourProject.Models.ModelName

@{ ViewBag.Title = "PageName"; }

@* The following line *should* be on _Layout.cshtml page *@
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#InputA').change(function ()
        {
            if ($(this).val() == 'A')
            {
                $('#inputs-for-A').show();
                $('#other-inputs').hide();
            }
            else
            {
                $('#other-inputs').show();
                $('#inputs-for-A').hide();
            }
        });
    });
</script>


@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.InputA)

    <div id="inputs-for-A" style="display: none">
        @Html.TextBoxFor(model => model.Input1)
        @Html.TextBoxFor(model => model.Input2)
    </div>

    <div id="other-inputs">
        @Html.TextBoxFor(model => model.Input3)
        @Html.TextBoxFor(model => model.Input4)
    </div>
}