


@using MvcMovie.Resources;
<br />
<br />
<br />

<div class="row">

    <div class="col-md-12">
        <a href="@Url.Action("Index", "HelloWorld")">
            <image src="/Content/images/back_button.png" width="70" height="70" valign="top" alt="@Resources.Back"></image>
        </a>
        <span class="pull-right">
            <a href="@Url.Action("Display", "HelloWorld")">
                <image src="/Content/images/forward_button.png" width="70" height="70" valign="top" alt="@Resources.Continue"></image>
            </a>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>Welcome to the internet test application, plain text page. There is lots of plain text content displayed here.</p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis ac massa eleifend tempor. Pellentesque eu nisl id dolor convallis elementum vitae eu purus. Mauris nisl felis, ornare eu nulla id, suscipit lobortis purus. Ut vulputate eleifend eleifend. Nulla euismod aliquam massa eu tempor. Vivamus condimentum urna nisl, sit amet bibendum augue eleifend nec. Suspendisse potenti. Cras iaculis nunc sed quam venenatis hendrerit. Nam egestas sem nibh, ut sodales quam iaculis at.
        </p>
        <p>
            Etiam purus nisl, volutpat at turpis eget, hendrerit dignissim sem. Phasellus dapibus sapien urna, eu venenatis massa egestas sit amet. Duis lobortis rutrum purus, et lobortis lorem iaculis et. Aliquam pharetra tellus leo, a lacinia nisl accumsan non. Cras ac ante a ante mollis hendrerit. Vestibulum fringilla lobortis magna, eu imperdiet erat blandit id. Maecenas ultricies semper justo, quis congue lorem porta sed. Fusce dictum congue gravida.
        </p>
        <p>
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam non vestibulum lectus. Integer vel semper diam, sed pharetra arcu. Integer et ultrices massa. In fermentum eros ut nunc euismod porta. Phasellus consequat dignissim massa vel hendrerit. Quisque id placerat nibh, quis pulvinar augue.
        </p>
        <p>
            Aliquam blandit sagittis cursus. Quisque pulvinar justo leo, placerat hendrerit nulla egestas at. Quisque neque eros, accumsan eget interdum ac, tincidunt sit amet nulla. Quisque volutpat aliquet ipsum quis eleifend. Nam finibus odio commodo pulvinar rutrum. Vivamus justo nisi, hendrerit vel elementum vitae, molestie ac urna. Donec tempor malesuada risus, ut gravida massa cursus ut.
        </p>
        <p>
            Nulla non magna eu nulla placerat sagittis. Praesent gravida tortor in massa hendrerit vestibulum. Curabitur congue ultricies quam. Nullam egestas, nunc nec vulputate ultricies, enim tortor molestie felis, tristique tempus massa ante ac libero. Pellentesque facilisis erat vel est ullamcorper, id luctus nulla egestas. Aenean ut turpis sit amet diam gravida consequat sed et ipsum. Donec ac purus nec justo laoreet fermentum nec vel nisi. Quisque id risus non magna euismod pellentesque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras tincidunt ac nulla cursus viverra.
        </p>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <a href="@Url.Action("Index", "HelloWorld")">
            <image src="/Content/images/back_button.png" width="70" height="70" valign="top" alt="@Resources.Back"></image>
        </a>
        <span class="pull-right">
            <a href="@Url.Action("Display", "HelloWorld")">
                <image src="/Content/images/forward_button.png" width="70" height="70" valign="top" alt="@Resources.Continue"></image>
            </a>
        </span>
    </div>
</div>
